<div class="container-fluid mt-4">
    <div class="container mt-4 text-center" height="40px">
        <div class="row text-center center">
            <div class="col-md-12">
                <br>
                <h2 class="mt-4 p-3">Contactanos</h2>
                <p>Cualquier pregunta o comentario, solo escribenos un mensaje.</p>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="row p-2" style="margin-top: 10px;">
            <div class="col-md-5  formInfo ">
                <h4 class="p-3"> <strong>Informacion de contacto</strong></h4>
                <p class="p-3">
                    Completa el formulario y nuestro equipo se comunicará contigo a la brevedad posible.
                </p>
                <div class="p-3">
                    <p>
                        <mat-icon> location_on</mat-icon>
                        Ubicación : Guanajuato, México
                    </p>
                    <br>
                    <p>
                        <mat-icon> phonelink_ring</mat-icon>
                        Telefono : +52 461 111 111 1
                    </p>
                    <br>
                    <p>
                        <mat-icon> mail</mat-icon>
                        Correo : contacto@avemix.mx
                    </p>
                    <br>
                    <div class="social-btns text-center">
                        <a href="#">
                            <img src="../../../assets/img/shape-Icons/facebook.png" alt="facebook">
                        </a>
                        <a href="#">
                            <img src="../../../assets/img/shape-Icons/instagram.png" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="../../../assets/img/shape-Icons/twitter.png" alt="Twitter">
                        </a>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-7 shape-contact">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Nombre:</mat-label>
                                    <input matInput class="mdc-text-field__input" aria-describedby="filled-full-width-helper-text" id="filled-full-width" placeholder="Nombre Usuario" [formControl]="nombre" required pattern="[a-zA-Z ]*">
                                    <mat-error *ngIf="nombre.invalid">{{ErrorMessageName()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Apellido:</mat-label>
                                    <input matInput class="mdc-text-field__input" aria-describedby="filled-full-width-helper-text" id="filled-full-width" placeholder="Apellido Usuario" [formControl]="apellido" required pattern="[a-zA-Z ]*">
                                    <mat-error *ngIf="apellido.invalid">{{ErrorMessageName()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Ingresa tu correo</mat-label>
                                    <input matInput class="mdc-text-field__input" aria-describedby="filled-full-width-helper-text" id="filled-full-width" placeholder="usuario@email.com" [formControl]="email" required>
                                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Telefono:</mat-label>
                                    <input matInput class="mdc-text-field__input" aria-describedby="filled-full-width-helper-text" id="filled-full-width" placeholder="4611224223" [formControl]="telefono" maxlength='10' paterrn="/^[0-9]$/" required>
                                    <mat-error *ngIf="telefono.invalid">{{ErrorMessagePhone()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Asunto</mat-label>
                                    <input matInput class="mdc-text-field__input" aria-describedby="filled-full-width-helper-text" id="filled-full-width" placeholder="Cotizacion | Duda " [formControl]="asunto" required>
                                    <mat-error *ngIf="asunto.invalid">{{ErrorMessageAsunto()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Mensaje</mat-label>
                                <textarea matInput rows="6" cols="100" placeholder="mensaje" [formControl]="messagge" required></textarea>
                                <mat-error *ngIf="messagge.invalid">{{ErrorMessageMenssage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-md-11">
                            <button mat-raised-button color="primary" style="border-radius: 10px; height: 60px;" type="submit">Enviar Mensaje</button>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>