.imgLogo {
    display: block;
    height: 100%;
    width: 90%;
    object-fit: contain;
    object-position: center center;
}

.row .col-md-2 .imgP {
    align-items: center !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}