<div class="container">
    <br class="mt-3">
    <div class="row mt-4">
        <div class="col-md-12 text-left">
            <br>
            <h3 class="mt-3 tittles">Cololaboradores
                <span id="aLink" class="waves-light"><mat-icon>supervisor_account</mat-icon></span>
            </h3>
            <hr class="b-title">
        </div>
        <div class="col-md-12">
            <p>A continuacion , te presentamos a nuestro equipo de colaboradores ellos hacen posible este evento <strong class="text-Impotr"> ¡Gracias! </strong></p>
        </div>
    </div>
    <mat-card class="mb-2">
        <div class="row">
            <div class="col-md-2 imgP">
                <img class="imgLogo" src="https://api.afig.com.mx/images/patrocinadores/educacont.png">
            </div>
            <div class="col-md-7 ml-4">
                <div class="p-1 ml-2">
                    <mat-card-header>
                        <mat-card-title>EducaCont</mat-card-title>
                        <mat-card-subtitle>www.educacont.com</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-2">
                        Educacont es una empresa Mexicana comprometida con el personal de ciencias de la salud, para llevarles las mejores certificaciones y capacitaciones, que les permitan poder crecer profesional y laboiralmente al desarrollar nuevas habilidades de la mano
                        de los mejores ponentes nacionales e internacionales.
                        <mat-card-footer class="p-2 ml-1">
                            <button mat-raised-button>Ver mas.</button>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mb-2">
        <div class="row">
            <div class="col-md-2 imgP">
                <img class="imgLogo" src="https://api.afig.com.mx/images/patrocinadores/gvm.png">
            </div>
            <div class="col-md-7 ml-4 left">
                <div class="p-1 ml-2">
                    <mat-card-header>
                        <mat-card-title>Grupo Vaell Medical S.A. de C.V. </mat-card-title>
                        <mat-card-subtitle>www.grupovaell.com</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-2">
                        Somos una empresa dedicada a la fabricación y la importación de productos de medicina física, rehabilitación, medicina del deporte y asesoría profesional en el mantenimiento preventivo o correctivo de sus equipos, otorgando a nuestros clientes una amplia
                        gama de productos de primera calidad.
                        <mat-card-footer class="p-2 ml-1">
                            <button mat-raised-button>Ver mas.</button>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mb-2">
        <div class="row">
            <div class="col-md-2 imgP">
                <img class="imgLogo" src="https://api.afig.com.mx/images/patrocinadores/btl.jpg">
            </div>
            <div class="col-md-7 ml-4 left">
                <div class="p-1 ml-2">
                    <mat-card-header>
                        <mat-card-title>BTL</mat-card-title>
                        <mat-card-subtitle>www.btlnet.es </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-2">
                        BTL , Es una empresa de origen Europeo fabricante de equipo medico con especialidad en: FISIOTERAPIA, CARDIOLOGIA Y MEDICINA ESTÉTICA Contamos con más de 50 sucursales en los principals paises de todo el mundo ; así como 4 centros de investigación ( India,
                        Bulgaria , Republica Checa y Rusia) , lo que nos define como una de las empresas con presencia en las principales clinicas, y centros de salud de todo el mundo..
                        <mat-card-footer class="p-2 ml-1">
                            <button mat-raised-button>Ver mas.</button>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mb-2">
        <div class="row">
            <div class="col-md-2 imgP">
                <img class="imgLogo" src="https://api.afig.com.mx/images/patrocinadores/prokine.PNG">
            </div>
            <div class="col-md-7 ml-4 left">
                <div class="p-1 ml-2">
                    <mat-card-header>
                        <mat-card-title>Prokinesport</mat-card-title>
                        <mat-card-subtitle>www.prokinesport.mx</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-2">
                        Prokinesport SA de CV es una empresa con 8 años de experiencia dedicada a la venta de productos para rehabilitación y deportivos de las mejores marcas del mercado como Performtex, Theraband, Ikka Mx, Compex, Trigger Point, Cramer, al igual que libros
                        de las editoriales Paidotribo y Panamericana.
                        <mat-card-footer class="p-2 ml-1">
                            <button mat-raised-button>Ver mas.</button>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mb-2">
        <div class="row">
            <div class="col-md-2 imgP">
                <img class="imgLogo" src="https://api.afig.com.mx/images/patrocinadores/fisiolab.png">
            </div>
            <div class="col-md-7 ml-4 left">
                <div class="p-1 ml-2">
                    <mat-card-header>
                        <mat-card-title>Fisiolab</mat-card-title>
                        <mat-card-subtitle>www.fisiolab.mx</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-2">
                        Empresa especializada en proveer soluciones para la rehabilitación física y la fisioterapia con venta de equipos de alta tecnología, asesoría de profesionales, servicio técnico y más.
                        <mat-card-footer class="p-2 ml-1">
                            <button mat-raised-button>Ver mas.</button>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
</div>