<div class="container-fluid slider">
    <div class="container-fluid center text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="c-conocermas">
                    <button mat-stroked-button color="accent" class="btn-slider">Conocer más</button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-7">
                <div class="textoHome">
                    <p> Congreso Fisioterapia Deportiva 2021</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape">
        <img src="../../../assets/img/home/slant-bottom.svg" alt="shape">
    </div>
</div>
<div class="container-fluid text-center">
    <h3>Fisioterapia Deportiva 2021</h3>
    <div class="row">
        <div class="col-md-12 p-4">
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed facilis fuga, nulla fugiat atque ducimus culpa vel a reiciendis assumenda numquam ut quidem. Possimus quidem officiis perferendis, non ipsa magni!Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Sed facilis fuga, nulla fugiat atque ducimus culpa vel a reiciendis assumenda numquam ut quidem. Possimus quidem officiis perferendis, non ipsa magni!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed facilis
                fuga, nulla fugiat atque ducimus culpa vel a reiciendis assumenda numquam ut quidem. Possimus quidem officiis perferendis, non ipsa magni!</p>
        </div>
    </div>
    <div class="row about-filosofia">
        <div class="col-md-4 text-center center">
            <mat-card class="mision-card">
                <mat-card-title>Mision</mat-card-title>
                <hr>
                <mat-card-content class="pt-1">
                    Nuestra misión es unir a los profesionales de la Fisioterapia para que continúen en su desarrollo profesional, alcanzando así el nivel de calidad, calidez y competitividad internacional, impulsando de esta manera la profesionalización en todos los campos
                    de acción de la Fisioterapia.
                </mat-card-content>
                <mat-card-actions>
                    <hr>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
        <div class="col-md-4 text-center center">
            <mat-card class="vision-card">
                <mat-card-title>Vision</mat-card-title>
                <hr>
                <mat-card-content class="pt-1">
                    Visión destacar histórica y socialmente a través de la adecuada práctica profesional mediante el grado máximo de conocimiento de la Fisioterapia basada en la ciencia e investigación, la ética y siguiendo la normatividad legal estipulada. </mat-card-content>
                <mat-card-actions>
                    <hr>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
        <div class="col-md-4 text-center center">
            <mat-card class="valores-card">
                <mat-card-title>Valores</mat-card-title>
                <hr>
                <mat-card-content class="pt-1">
                    PROFESIONALIDAD, SOLIDEZ, SEGURIDAD, CONFIDENCIALIDAD
                </mat-card-content>
                <mat-card-actions>
                    <hr>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </div>
    <div class="row benefisioTab mt-4">
        <div class="col-md-12 center">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Beneficios">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="imgtap">
                                <img class="img-fluid" src="https://gacetamedica.com/wp-content/uploads/2020/09/GettyImages-1223737139.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h3 class="mt-3">Beneficios</h3>
                            <ul class="text-left">
                                <li>Beneficios del convenio Interasociaciones (firmado el 5 de Noviembre de 2016 con ANFIS,ASITEFIR, AFIREL, CoFKA y AFIJ).
                                </li>
                                <li> Participar en las actividades de la Asociación para su desarrollo profesional y personal.
                                </li>
                                <li> Cuota especial de inscripción, becas, descuentos para Jornadas, Cursos, Congresos etc.
                                </li>
                                <li>Asesoría Especializada.
                                </li>
                                <li> Posibilidad de participar en proyectos que realice la AFiG.</li>
                            </ul>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Preguntas Frecuentes">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="imgtap">
                                <img class="img-fluid" src="https://www.formacionalcala.es/images/products/1539591777miniatura0016.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <br>
                            <h3>Preguntas frecuentes</h3>
                            <ul class="text-left">
                                <li> <strong>¿Cómo reservo un curso?</strong>
                                    <ul>
                                        <li>
                                            Primeramente deberas estar registrado en nuestra pagina e iniciar sesión.</li>
                                        <li> Deberas buscar el curso al que deseas inscribirte, la pagina cuenta con un buscador en la barra superior o bien puedes ir directamente al apartado de cursos y seleccionar el de tu agrado.
                                        </li>
                                        <li>
                                            Una vez adentro del curso de tu agrado, procederas a descargar el documento que se te proporciona ahi mismo y seguir las instruucciones.
                                        </li>
                                    </ul>
                                </li>
                                <li><strong>¿Cuanto tiempo despues de subir mi recibo, este es validado?
                                </strong>
                                    <ul class="text-left">
                                        <li>
                                            El tiempo maximo para que tu recibo sea validado es de aproximadamente 3 dias.

                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>
<br>
<div class="container-fluid text-center">
    <h3>Patrocinadores</h3>
    <br>
    <p>Este congreso no podria realizarse de la misma manera sin nuestros patrocinadores ¡Conocelos! </p>
    <div class="container-fluid patrocinador">
        <div class="row">
            <div class="col-md-12">
                <div id="multi-product" class="carousel slide carousel-multi-item mt-3" data-ride="carousel">
                    <!--Controls-->
                    <div class="controls-top text-right mb-2">
                        <a class="btn-floating" href="#multi-product" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </a>
                        &nbsp;
                        <a class="btn-floating" href="#multi-product" data-slide="next"><i>
                            <mat-icon>
                                keyboard_arrow_right
                            </mat-icon>
                        </i></a>
                    </div>
                    <!--/.Controls-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>

                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>

                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>

                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>

                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <mat-card>
                                            <div class="img-patrocinio">
                                                <img class="card-img-logo" src="http://prokinesport.mx/logo.png" alt="Card image cap">
                                                <div class="labelTitle">
                                                    <mat-card-title>LIBROS FISIOTERAPIA </mat-card-title>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <p>Libros Fisioterapia es una Empresa Mexicana, ubicada en la Ciudad de México, dedicada a la edición, venta, impresión,importación, distribución, y difusión de materiales impresos, como libros y revistas.
                                                    Especializados en materiales de Fisioterapia.</p>
                                            </mat-card-content>
                                            <mat-card-footer>
                                                <mat-card-actions class="bottom-p">
                                                    <a href="#"><span><mat-icon>facebook</mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>home_work                                                    </mat-icon></span></a>
                                                    <a href="#"><span><mat-icon>control_point</mat-icon></span></a>
                                                </mat-card-actions>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Second slide-->

                    </div>
                    <!--/.Slides-->

                </div>
            </div>
        </div>
    </div>
    <br><br><br>

</div>